body{
    margin: 0;
    padding: 0px 5px;
}
.navigation{
    background-color: black;
    margin: 0;
    padding: 0 
}
.navigation ul{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}
.navigation ul li a{
    text-decoration: none;
    color: white;
}
.navigation ul li a:hover{
    background:linear-gradient(90deg, pink, purple, blue, yellow);
    padding:0.5rem 1rem;
    transition: all 360ms ease-in-out;
    border-radius:5px ;
    color: black;
}
.navigation ul li{
    list-style: none; 
}
.main-content{
    
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.sub-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.main-content form input{
    border:32px solid;
    
    padding: 30px 300px;
    font-size: 3rem;
    text-align: right;
    padding-right: 1rem;
    

}
.input{
    padding-right: 30px;
    display: flex;
    gap: 1px;

}
.input:hover{
    opacity: 90%;
}
.Material-icons {
    background-color: grey;
    padding: 50px 112px;
    margin: 0 auto;
}
#adjust{
    padding-right:80px;
}
#adjust:hover{
    opacity: 90%;
}
#Action{
    font-size: 20px;
}
.numbers{
    padding-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.lign1{
    
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    gap: 1px;
}
.lign2{
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    gap: 1px;
}

p{
    color:white;
}
.General{
    display: flex;
    flex-direction: row;
}
.number{
    background-color: gray;
    padding: 30px 120px;
    margin: 0 auto;
}
.number:hover{
    opacity: 90%;
}
.inout{
    display: flex;
    align-items: center;
    padding-top: 30px;
    background-color: orangered;
    width: 218px;
}
.inout:hover{
    opacity: 90%;
}
.inout p{
    
    padding-left: 7rem;
}